.table {
  --bs-table-hover-bg: rgba(52, 66, 126, 0.411);
}

.error {
  padding: 1rem;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  background-color: #dc3545;
}

.error mark {
  padding: 0.5rem;
  border-radius: 0.5rem;
  display: inline-block;
  color: #fff;
  background-color: #01579b;
}

.filter {
  display: none;
}
.search-form {
  margin: auto 0;
  text-align: center;
}

.search-form input {
  display: block;
  margin: auto;
  padding: 0.25rem;
  border-radius: 0.25rem;
  font-size: 1rem;
}

header {
  width: 100%;
  height: 5rem;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  color: white;
  background-color: rgb(38, 128, 223);
  box-shadow: inset 0 -3em 3em rgba(0, 3, 89, 0.361), 0 0 0 2px rgb(50, 80, 168),
    0.3em 0.3em 1em rgba(0, 25, 83, 0.421);
  
}

header * .logo {
  font-weight: bold !important;
  font-size: 1.2rem !important;
}


.loader {
  margin: 1rem auto;
  display: block;
  width: 4rem;
  height: 4rem;
}

.margin {
  padding: 1rem 2rem 1rem 2rem;
}

.thtable {
  width: 100%;
  height: 86vh;
  font-size: 12px;
  position: fixed;
  overflow-y: scroll;
}


thead tr th {
  position: sticky;
  top: 0;
  z-index: 10;
}

.table-active1 {
  background-color: rgb(219, 200, 118) !important;
}

.active-run {
  background-color: #e7f8ff;
}

.active-pending {
  background-color: rgb(245, 223, 124);
}

.active-complete {
  background-color: rgb(255, 255, 255);
}

.active-select {
  background-color: rgba(25, 104, 182, 0.667);
}

.active-error {
  background-color: #ffcbcb !important;
}


.btn, .font{
  font-size: 12px;
}


/* style="color: var(--bs-btn-hover-color); background-color: #174993; border-color: var(--bs-btn-hover-border-color);" */

@media (max-width: 1500px) {
  .cporte,
  .track,
  .bol,
  .llegada,
  .placa,
  .año,
  .verificacion,
  .poliza,
  .inciso,
  .contacto {
    display: none;
  }  

  #table_xls {
    width: 98%;
    margin: auto;
  }
}

@media (min-width: 300px) and (max-width: 700px) {

  .cporte,
  .track,
  .bol,
  .ruta,
  .llegada,
  .placa,
  .año,
  .verificacion,
  .poliza,
  .inciso,
  .contacto,
  .tipo,
  .modelo,
  .publico,
  .opciones,
  .sd,
  .ld,
  .eta,
  .sr,
  .lr,
  .cp
   {
    display: none;
  }

  .header{
    position: sticky;
  }

  .unidades,
  .cajas,
  .tablero{
    width: 30%;
    font-size: 10px;
    padding: 0px;
    height: 25px;
  }

  .equipov {
    display: none;
  }

  .margin{
    display: flex !important;
    padding: 5px 0px 4px 0px;
    justify-content: center;
  }

  #thtable {
    width: 100%;
    height: 84vh;
    position: sticky;
    overflow-y: scroll;
    margin: auto;
    font-size: 10px;
  } 
   
  tr {
    font-size: 8px;
  }
}
