.table {
  --bs-table-hover-bg: rgba(52, 66, 126, 0.411);
}

.error {
  padding: 1rem;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  background-color: #dc3545;
}

.error mark {
  padding: 0.5rem;
  border-radius: 0.5rem;
  display: inline-block;
  color: #fff;
  background-color: #01579b;
}

.filter {
  display: none;
}
.search-form {
  margin: auto 0;
  text-align: center;
}

.search-form input {
  display: block;
  margin: auto;
  padding: 0.25rem;
  border-radius: 0.25rem;
  font-size: 1rem;
}

header {
  width: 100%;
  height: 5rem;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  color: white;
  background-color: rgb(38, 128, 223);
  box-shadow: inset 0 -3em 3em rgba(0, 3, 89, 0.361), 0 0 0 2px rgb(50, 80, 168),
    0.3em 0.3em 1em rgba(0, 25, 83, 0.421);
  
}

header * .logo {
  font-weight: bold !important;
  font-size: 1.2rem !important;
}


.loader {
  margin: 1rem auto;
  display: block;
  width: 4rem;
  height: 4rem;
}

.margin {
  padding: 1rem 2rem 1rem 2rem;
}

.thtable {
  width: 100%;
  height: 86vh;
  font-size: 12px;
  position: fixed;
  overflow-y: scroll;
}


thead tr th {
  position: sticky;
  top: 0;
  z-index: 10;
}

.table-active1 {
  background-color: rgb(219, 200, 118) !important;
}

.active-run {
  background-color: #e7f8ff;
}

.active-pending {
  background-color: #f5df7c;
}

.active-complete {
  background-color: rgb(255, 255, 255);
}

.active-select {
  background-color: #1968b6aa;
}

.active-error {
  background-color: #ffcbcb !important;
}


.btn, .font{
  font-size: 12px;
}

/*Animacion TR-Fila actualizada*/
@keyframes parpadeo {
  0% {
    background-color: #1968b6b4; /* Color inicial */
  }
  50% {
    background-color: #0e345a9c; /* Color intermedio */
  }
  100% {
    background-color: #1968b6b4; /* Color final */
  }
}

.parpadeo {
  animation: parpadeo 1s ease infinite !important; /* Duración, tipo de interpolación y repetición */
}



/* style="color: var(--bs-btn-hover-color); background-color: #174993; border-color: var(--bs-btn-hover-border-color);" */

@media (max-width: 1500px) {
  .cporte,
  .track,
  .bol,
  .llegada,
  .placa,
  .año,
  .verificacion,
  .poliza,
  .inciso,
  .contacto {
    display: none;
  }  

  #table_xls {
    width: 98%;
    margin: auto;
  }
}

@media (min-width: 300px) and (max-width: 700px) {

  .cporte,
  .track,
  .bol,
  .ruta,
  .llegada,
  .placa,
  .año,
  .verificacion,
  .poliza,
  .inciso,
  .contacto,
  .tipo,
  .modelo,
  .publico,
  .opciones,
  .sd,
  .ld,
  .eta,
  .sr,
  .lr,
  .cp
   {
    display: none;
  }

  .header{
    position: sticky;
  }

  .unidades,
  .cajas,
  .tablero{
    width: 30%;
    font-size: 10px;
    padding: 0px;
    height: 25px;
  }

  .equipov {
    display: none;
  }

  .margin{
    display: flex !important;
    padding: 5px 0px 4px 0px;
    justify-content: center;
  }

  #thtable {
    width: 100%;
    height: 84vh;
    position: sticky;
    overflow-y: scroll;
    margin: auto;
    font-size: 10px;
  } 
   
  tr {
    font-size: 8px;
  }
}


/* Modal TR*/
.tableAlarm{
  width: 100%;
  
}


.tableAlarm td {
  width: 100%;
}

.tableAlarm th{
  width: 25%;
  text-align: end;
  padding-right: 0.5rem;
}

.tableAlarm input{
  width: 90%;
}

.tableAlarm .trhead{
  background-color: black;
  color: white;
  text-align: end;
  font-size: 1.1rem;
} 

/* Estilos para el área de arrastrar y soltar */
#dropArea {
  height: 10rem;
  border: 2px dashed #ccc;
  text-align: center;
  cursor: pointer;
}

#dropArea.hover {
  background-color: #f0f0f0;
}

#dropArea img{
  width: 30%;
  height: auto;
}

/* Estilos para el modal */
.modal-tr {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
}

.modal-content-tr {
  background-color: white;
  margin: 20% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 95%;
  animation-name: modalopen;
  animation-duration: 0.5s;
}

.modal-body-tr {
  width: 100%;
  overflow: scroll;
}



.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

@keyframes modalopen {
  from {opacity: 0;}
  to {opacity: 1;}
}
